body{
background-color: darkgray;
}

main{
 background-color: grey;
 height: 600px;
 width: 75%;
 margin:auto;
}

h1{
  width:50%;
  margin:auto;
  text-align: center;
  padding: 3%;
  font-size: 2.5em;
}

#add-char-form{
  background-color: lightgray;
  width: 100%;
  height: 25%;
  margin:auto;
  font-size: 100%;
  display:flex;
  justify-content: center;
}

.form-element-divider{
  margin-top: 5%;
  margin-left: 15%;
}

#submit{
  margin: 45%;
  margin-left: -13%;
  height: 35%;
}

#init-list{
  width: 125%;
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}


